*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat';
}
main{
    padding: 5px;
}
/* header */
header{
    position: sticky;
    top: 0px;
}
.header__style{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    background-color: black;
}
.header__logo{
    align-self: flex-start;
}
.header__ul{
    display: flex;
    list-style-type: none;
    text-align: end;
    margin: 0;
    padding: 0;
}
.header__li{
    display: inline-block;
    list-style: none;
    padding: 0 20px;
}

/* Index */
.article__grid{
    display: grid;
    grid-template-columns: '1fr';
    grid-template-rows: '1fr'; 
    grid-template-areas: "uno cuatro"
                        "cinco dos"
                        "tres seis";
    border: 3px solid black;
    place-content: center;
    row-gap: 400px;
    column-gap: 200px;
}
.article__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 450px;
}
.article__itemA{
    grid-area: uno;
}
.article__itmeB{
    grid-area: dos;
}
.article__itemC{
    grid-area: tres;
}
.article__itemAImg{
    grid-area: cuatro;
}
.article__itemBImg{
    grid-area: cinco;
}
.article__itemCImg{
    grid-area: seis;
}
button:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

/* Nuestro equipo */

.section__grid{
    display: grid;
    grid-template-areas: "uno dos"
                        "cuatro tres"
                        "cinco seis"
                        "ocho siete";
    grid-template-columns: '1fr 1fr';
    grid-template-rows: '1fr 1fr';  
    place-content: center;
    column-gap: 100px;
    row-gap: 500px;
}    
.section__integrante{

}                 
.section__integrante1{
    grid-area: uno;
}
.section__integrnate1img{
    grid-area: dos;
}
.section__integrante2{
    grid-area: tres;
}
.sectino__integrante2img{
    grid-area: cuatro;
}
.section__integrante3{
    grid-area: cinco;
}
.section__integrante3img{
    grid-area: seis;
}
.section__integrante4{
    grid-area: siete;
}
.section__integrante4img{
    grid-area: ocho;
}

/* nuestros servicios */

/* .servicios{
    display: grid;
    grid-template-columns: '1fr 1fr 1fr';
    gap: 100px;
    grid-template-areas: "uno dos tres"
                        "cuatro cinco seis";
}
.servicios__tarjeta{
    text-align: center;
    font-size: small;
}
.section__tarjeta{
    text-align: center;
    font-size: small;
}
.servicios__uno{
    grid-area: uno;
}
.servicios__dos{
    grid-area: dos;
}
.servicios__tres{
    grid-area: tres;
}
.servicios__cuatro{
    grid-area: cuatro;
}
.servicios__cinco{
    grid-area: cinco;
}
.servicios__seis{
    grid-area: seis;
}

/* Transformaciones */

.servicios__tarjeta:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

/* programas */

.section__title{
/*     text-align: center; */
}
.section__tarjeta{
/*     text-align: center; */
    font-size: small;
}
.section__list{
    list-style-type: none;
}

/* contacto */
.
.section__title{
    text-align: center;
}
.form{
    text-align: center;
}

/* Footer */

footer{
    padding: 5px;
    bottom: 0px;
    background-color: black;
}
.footer{
    display: flex;
    color: white;
}
.footer__redes{
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
}
.footer__redesItem{
    color: white;
    text-decoration: none;
    margin-left: 30px;
}
.footer__nav{
    display: inline;
    margin: 5px;
    list-style-type: none;
}
.footer__navItem{
    color: white;
    text-decoration: none;
}
.footer__rights{
    align-self: flex-end;
}

@media (min-width: 541px) and (max-width: 720px){
    /* header */
    .header__style{
        display: flex;
        flex-direction: column;
    }
    /* nuestro equipo */
    
    .section__integrante{
        font-size: 1rem;
    }
    .section__grid{grid-template-areas: "uno"
                                        "dos"
                                        "tres"
                                        "cuatro"
                                        "cinco"
                                        "seis"
                                        "siete"
                                        "ocho";
    grid-template-columns: '1fr';
    grid-template-rows: '1fr';
    gap: 75px;
    }
    .section__img{
   /*      width: 500px; */
    }
    /* nuestros servicios */
    .servicios{
        display: grid;
        grid-template-columns: '1fr 1fr';
        grid-template-areas: "uno dos"
                            "tres cuatro"
                            "cinco seis";
    }
    /* footer */
    .footer{
        flex-direction: column;
    }
}
@media (min-width: 320px) and (max-width: 540px){
    /* header */
    .header__style{
        display: flex;
        flex-direction: column;
    }
    .header__ul{
        display: flex;
        flex-direction: column;
    }
    /* nuestro equipo */
    .section__integrante{
        font-size: 1rem;
    }
    .section__grid{grid-template-areas: "uno"
                                        "dos"
                                        "tres"
                                        "cuatro"
                                        "cinco"
                                        "seis"
                                        "siete"
                                        "ocho";
    grid-template-columns: '1fr';
    grid-template-rows: '1fr';
    gap: 50px;
    }
    /* nuestros servicios */
    .servicios{
        display: grid;
        grid-template-columns: '1fr';
        gap: 100px;
        grid-template-areas: "uno"
                            "dos"
                            "tres"
                            "cuatro"
                            "cinco"
                            "seis";
    }
    /* footer */
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer__redes{
        flex-direction: row;
    }
}