@import '_variables';
@import '_header';
@import '_footer';
*{
    margin: 0;
    padding: 0;
    font-family: $font-principal;
}
body{
    padding: 5px;
}

.cover{
    height: 90vh;
    background-image: url(../recursos/logoFondo.png);
    color: white;
}
.article{
    &__grid {
    display: grid;
    grid-template-areas: "uno cuatro"
                        "cinco dos"
                        "tres seis";
    place-content: center;
    row-gap: 400px;
    column-gap: 200px; 
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        width: 450px;
    }
    &__itemA {
        grid-area: uno;
    }
    &__itmeB {
        grid-area: dos;
    }
    &__itemC {
        grid-area: tres;
    }
    &__itemAImg {
        grid-area: cuatro;
    }
    &__itemBImg {
        grid-area: cinco;
    }
    &__itemCImg {
        grid-area: seis;
    }
}
button:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.section{
    &__grid {
    display: grid;
    grid-template-areas: "uno dos"
                        "cuatro tres"
                        "cinco seis"
                        "ocho siete";
    place-content: center;
    column-gap: 100px;
    row-gap: 500px;
    }
    &__integrante1 {
        grid-area: uno;
    }  
    &__integrante1img {
        grid-area: dos;
    }
    &__integrante2 {
        grid-area: tres;
    }
    &__integrante2img {
        grid-area: cuatro;
    }
    &__integrante3 {
        grid-area: cinco;
    }
    &__integrante3img {
        grid-area: seis;
    }
    &__integrante4 {
        grid-area: siete;
    }
    &__integrante4img {
        grid-area: ocho;
    }
}           

.card:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.section{
    &__title{
    font-size: 4rem;
    text-align: center;
    }
    &__subtitle{
        font-size: 2rem;
        text-align: center;
    }
    &__form{
        gap: 30px;
    }
}

.footer{
    &__style {
        display: grid;
        grid-template-areas: "uno dos tres";
        padding: 5px;
        bottom: 0px;
        background-color: grey;
        color: white;
    }
    &__nav{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        grid-area: uno;
    }
    &__navItem{
        color: white;
        text-decoration: none;
    }
    &__rights{
        justify-self: center;
        align-self: end;
        grid-area: dos;
    }
    &__redes{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-self: center;
        grid-area: tres;   
    }
    &__redesImg{
        width: 70px;
    }
    &__redesImg:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }
}
@media (min-width: 541px) and (max-width: 720px){
    .header__style{
        display: flex;
        flex-direction: column;
    }
    .article__grid{
        grid-template-areas: "uno"
                            "cuatro"
                            "dos"
                            "cinco"
                            "tres"
                            "seis";
        gap: 50px;
    }
    .section{
        &__integrante{
            font-size: 1rem;
        }
        &__grid{
            grid-template-areas: "uno"
                                "dos"
                                "tres"
                                "cuatro"
                                "cinco"
                                "seis"
                                "siete"
                                "ocho";
            gap: 50px;
        }
        &__img{
            height: 450px;
        }
    }
    .servicios{
        display: grid;
        grid-template-areas: "uno"
                            "dos"
                            "tres"
                            "cuatro"
                            "cinco"
                            "seis";
    }
    .footer{
        display: grid;
        grid-template-areas: "uno"
                            "tres"
                            "dos";
        gap: 30px;
    }
}
@media (min-width: 320px) and (max-width: 540px){
    .body{
        padding: 3px;
    }
    .header{
        &__style{
            display: flex;
            flex-direction: column;
        }
        &__ul{
            display: flex;
            flex-direction: column;
        }
    }
    .cover__title{
        font-size: 2rem;
    }
    .article{
        &__subtitle{
            font-size: 1.5rem;
        }
        &__text{
            font-size: 1rem;
        }
        &__grid{
            grid-template-areas: "uno"
                                "cuatro"
                                "dos"
                                "cinco"
                                "tres"
                                "seis";
            gap: 50px;
        }
    }
    .section{
        &__title{
            font-size: 2rem;
        }
        &__subtitle{
            font-size: 1.5rem;
        }
        &__integrante{
            font-size: 1rem;
        }
        &__grid{
            grid-template-areas: "uno"
                                "dos"
                                "tres"
                                "cuatro"
                                "cinco"
                                "seis"
                                "siete"
                                "ocho";
            gap: 50px;
            place-content: center;
        }
    }
    .article__img{
        width: 100px;
    }
    .section__img{
        height: 250px;
    }
    .servicios{
        display: grid;
        grid-template-areas: "uno"
                            "dos"
                            "tres"
                            "cuatro"
                            "cinco"
                            "seis";
    }
    .footer{
        display: grid;
        grid-template-areas: "uno"
                            "tres"
                            "dos";
        gap: 30px;
    }
}